* {
    margin: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    font-size: 17px;
    background-color: rgb(37, 37, 37);
}

header {
    background-color: rgb(68, 68, 68);
    width: 96%;
    height: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 20px;
}

main {
    display: flex;
    height: 500px;
} 

.container-main {
    background-color: rgb(68, 68, 68);
    width: 70%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);  
    margin-right: 20px;
    padding: 25px 0 10px 20px;
}

.container-itens {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;

}

.item {
    background-color: rgb(68, 68, 68);
    width: 150px;
    height: 190px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar {
    background-color: rgb(68, 68, 68);
    width: 30%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 25px 0 10px 20px;
}

footer {
    background-color: rgb(68, 68, 68);
    width: 96% ;
    height: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 20px;
}